.site-header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--color-base);

	&-inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-base);
	}

	&-navigation {
		margin-left: var(--spacing-s);

		.menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.menu-item {

			&.current-menu-item {
				text-decoration: underline;
			}

			a {
				color: var(--color-base-invert);
				font-size: 1.25em;
				padding: 0.5em;
				transition: 0.25s ease-in-out;

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}

	.menu-toggle {
		display: none;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 1em 0 1em 1em;
		-webkit-tap-highlight-color: transparent;
	}

	@media (max-width: $breakpoint-mobile-navigation) {

		&-navigation {
			position: absolute;
			top: 100%;
			left: -1em;
			background-color: var(--color-base);
			margin-left: 0;
			width: calc(100% + 2em);
			transition: 0.3s ease-in-out;
			padding: 1em;
			z-index: -1;
			transform: translateY(-100%);

			.menu {
				flex-direction: column;
				align-items: flex-start;
			}

			.menu-item {
				margin-bottom: 0.5em;
			}
		}

		.site-title {
			margin: 0.25em 0;
		}

		.menu-toggle {
			display: flex;
		}
	}
}
