.jobs-listing {
	margin: 0;
	padding: 0;

	li {
		margin-bottom: var(--spacing-s);
	}
}

.job-card {
	margin: 0;
	padding: 1.5em;
	list-style: none;
	background: #fff;
	border: 1px solid var(--color-separator);
	border-radius: var(--border-radius-small);
	box-shadow: var(--shadow-default);
	display: flex;

	.job-primary {
		flex: 1 1 auto;
	}

	.job-title {
		margin: 0;
		font-size: 1.375em;
		margin-bottom: 0.25em;

		a {
			color: #000;
		}
	}

	.job-details {
		margin-top: var(--spacing-l);
	}

	.job-type,
	.job-price {
		margin-left: var(--spacing-s);
		display: inline-block;
	}

	.job-price {
		font-weight: 700;
	}

	.meta-date {
		opacity: 0.5;
		margin-left: var(--spacing-s);
	}

	.job-secondary {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&.centered-content {
			justify-content: center;
		}
	}

	.job-edit {
		flex-grow: 1;
		align-items: flex-end;
	}

	.job-edit,
	.job-actions {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		a {
			color: var(--color-base-invert);
			display: inline-block;
			transition: 0.25s ease-in-out;

			&:hover {
				color: var(--color-primary);
			}
		}

		a + a {
			margin-left: var(--spacing-s);
		}
	}
}

.job-logo {
	flex: 0 0 12.5em;
	background: #fff;
	display: flex;
	align-items: stretch;
	justify-content: stretch;

	&-box {
		max-height: 7.875em;
		border: 1px solid var(--color-separator);
		border-radius: var(--border-radius-small);
		box-shadow: var(--shadow-default);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
			max-width: 8em;
			max-height: 4em;
			object-fit: contain;
		}
	}
}

.job-single {
	display: flex;

	.job-secondary {
		position: sticky;
		top: 7em;
		height: fit-content;
		flex: 0 0 14em;
		margin-left: var(--spacing-l);
		text-align: center;

		.button {
			margin-bottom: 0.5em;
		}
	}

	.job-main {
		flex: 1 1 auto;
	}

	.job-body {
		margin-top: var(--spacing-s);
		padding-top: 1em;
		border-top: 1px solid var(--color-separator);

		p:first-child {
			margin-top: 0;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.job-logo {
		margin-bottom: var(--spacing-s);
	}
}

.jobs-pagination-wrapper {
	text-align: center;
}


@media (max-width: $media-breakpoint-small) {

	.job-single {
		flex-direction: column;

		.job-secondary {
			margin-left: 0;
			margin-top: var(--spacing-s);
		}
	}

	.job-details,
	.job-meta {

		span,
		a {
			display: block;
		}

		.job-type,
		.meta-date {
			margin: 0;
		}
	}
}

@media (max-width: $media-breakpoint-mobile) {

	.job-card {
		flex-direction: column;

		.job-logo {
			flex: 0 0 auto;
			margin-top: var(--spacing-s);
		}

		.job-details {
			margin-top: 0.5em;
		}
	}
}
