.flex-container {
	display: flex;

	&.centered-horizontally {
		justify-content: center;
	}

	&.centered-vertically {
		align-items: center;
	}

	&.justified-horizontally {
		justify-content: space-between;
	}

	&.flex-wrap {
		flex-wrap: wrap;
	}

	@media (max-width: $media-breakpoint-mobile) {
		flex-wrap: wrap;
	}
}
