html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: var(--color-base);
	font-family: var(--font-primary);
	line-height: 1.5;
}


h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

a {
	color: var(--color-primary);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.row {
	--row-max-width: var(--site-width-large);

	max-width: var(--row-max-width);
	margin-left: auto;
	margin-right: auto;

	&-fullwidth {
		max-width: calc(100% - 2rem);
		margin-left: auto;
		margin-right: auto;
	}

	// Below is a fluid layout of the website:
	// @media (max-width: #{$media-breakpoint-large}) {
	// 	max-width: calc(100vw - 2em);
	// }

	// And here, we have an adaptive version:
	@media (max-width: #{$media-breakpoint-large}) {
		max-width: Min(var(--site-width-medium), var(--row-max-width));
	}

	@media (max-width: #{$media-breakpoint-medium}) {
		max-width: Min(var(--site-width-small), var(--row-max-width));
	}

	@media (max-width: #{$media-breakpoint-small}) {
		max-width: Min(var(--site-width-mobile), var(--row-max-width));
	}

	@media (max-width: #{$media-breakpoint-mobile}) {
		max-width: calc(100% - 2rem);
	}
}
